
<div class="container text-center">
  </br></br><h2>Sign up</h2></br></br>
    <div class="form" style="margin-left:100px">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group text-center">
       <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" , :class => 'form-control'%>
      </div>
    </div>
    <div class="form-group">
       <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email, autofocus: true, autocomplete: "email" , :class => 'form-control'%>
      </div>
    </div>
    <div class="form-group">
       <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control' %>
    </div>
    </div>
    <div class="form-group">
       <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.text_field :password_confirmation, autofocus: true, autocomplete: "password_confirmation" , :class => 'form-control'%>
      </div>
    </div>
    <div class="form-group">
       <div class="field">
      <%= f.label :avatar do %>
        <%= f.file_field :avatar, :class => 'form-control' %>
        <%= f.hidden_field :avatar_cache %>
      <% end %>
    </div>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  </div>
</div>
<center>
  <%= render "devise/shared/links" %>
</center>

