<%= form_with(model: usage, local: true) do |form| %>
  <% if usage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usage.errors.count, "error") %> prohibited this usage from adding to database:</h2>

      <ul>
      <% usage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group new_user">
    <div class="field">
      <%= form.label :user_id %>
      <%= form.number_field :user_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group new_user">
    <div class="field">
      <%= form.label :Plan_id %>
      <%= form.number_field :plan_id, class: "form-control" %>
    </div>
  </div>

  <div class="form-group new_user">
    <div class="field">
      <%= form.label :units_used %>
      <%= form.number_field :units_used, class: "form-control" %>
    </div>
  </div>
  <div class="actions new_user">
    <%= form.submit "Add units", class:"btn btn-primary"%>
  </div>
<% end %>
