<h1 class="jumbotron text-center"> welcome to billing and recurring app in rails </h1>
<% if user_signed_in? %>
	<%if policy(@user).admin? %>
	<center>
		<%=link_to 'View subscriptions', all_subscriptions_path, :class=> "btn btn-primary btn-lg", :role=> "button"%>
		<%=link_to 'View usages', all_subs_path, :class=> "btn btn-primary btn-lg", :role=> "button"%>
		<%=link_to 'Add New plan', new_plan_path, :class=> "btn btn-primary btn-lg", :role=> "button"%><br /><br /><br />
		    <%=render 'plans/plans', plans: @plans%> 
		<%end%>
	</center>
	
	<% if policy(@user).buyer? %>
		<center>
			<% if @subscriptions.any? %>
			<%=link_to 'My subscriptions', user_subscriptions_path(current_user), :class=> "btn btn-primary btn-lg", :role=> "button"%>
			<%end%>
			<h1>Here are the plans for you </h1>
			<%=render 'plans/plans', plans: @plans%>
		</center>
	<%end%>
<%else%>
	<div class="col-md-12 text-center" style="margin-top: 250px">
		<%=link_to 'Login', new_user_session_path, :class=> "btn btn-primary btn-lg", :role=> "button"%>
		<%=link_to 'Sign up', new_user_registration_path, :class=> "btn btn-primary btn-lg", :role=> "button"%>
<%end%>