<div class="container text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4 col-md-offset-4">
    <%= form_with(model: @subscription, local: true) do |form| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= form.hidden_field :plan_id, value: @plan.id, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :bill_day %>
      <%= form.text_field :bill_day, class: "form-control" %>
    </div>
  </div>
  <%= form.submit class: 'btn btn-primary' %>
<% end %>
  </div>
</div>
