<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <%= form_with(model: @subscription, local: true) do |form| %>
  <% if @subscription.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
          <ul>
          <% subscription.errors.full_messages.each do |message| %>
            <li>billday can't be empty, greater than 28 and less than 1</li>
          <% end %>
          </ul>
      </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= form.hidden_field :plan_id, value: @plan.id, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :bill_day %>
      <%= form.text_field :bill_day, autofocus: true,class: "form-control" %>
    </div>
  </div>
  <%= form.submit class: 'btn btn-primary' %>
<% end %>
  </div>
</div>
