<center>
	<h1 style="margin-top: 30px">Listing all subscriptions of all users</h1>
</center>
<div class="container" style="margin-top: 110px">
	<div class="row">
		<table class="table table-striped table-bordered table-responsive-md">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Plan ID</th>
		      <th scope="col">User ID</th>
		      <th scope="col">Billing day</th>
		      <th scope="col">Plan Fees</th>
		      <th scope="col">Charge users</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @subscriptions.each do |subscription| %>
			    <tr>
			      <td><%=subscription.plan_id%></td>
			      <td><%=subscription.user_id%></td>
			      <td><%=subscription.bill_day%></td>
			      <td><%=subscription.plan.fee%></td>
			      <%if subscription.transactions.any? %>
		      	   <td><a href="#" class="btn btn-primary d-flex justify-content-center disabled" role="button" aria-pressed="true">Already Charged</a></td>
			      <%elsif (subscription.bill_day) == (Date.today.strftime("%d").to_i)%>
			      	<td><%=link_to 'Charge User', charge_user_subscription_path(subscription), :class=> "btn btn-primary d-flex justify-content-center", :role=> "button"%></td>
			      	
		   		 <%else%>
		   		 	<td>Wait to charge</td>
		   		 <%end%>	
		   		</tr>
		   		<%end%>
			</tbody>
		</table>
	</div>
</div>

