<div class="container">
  <center>
    <%if @subscriptions.any? %>
    <h1>Listing All Subscriptions of <%= current_user.name %> </h1>
    <table class="table">
      <tr>
        <th>Plan ID</th>
        <th>Plan Name</th>
        <th>Plan Fee</th>
        <th>User Name </th>
        <th>Features</th>
        <th>Subscribed on</th>

      </tr> 
        <% @subscriptions.each do |subscription| %> 
              <tr>
              <td><%= subscription.plan_id %></td>
              <td><%= subscription.plan.name %></td>
              <td><%= subscription.plan.fee %></td>
              <td><%= subscription.user.name %></td>
              <td><%=link_to 'Click here', plan_features_path(subscription.plan)%></td>
              <td><%=subscription.created_at.strftime("%d %B %Y")%></td>
              <td style="color: lightgrey">(subscribed <%=Date.today.mjd - subscription.created_at.to_date.mjd%> days ago)</td>
            </tr>
        <%end%>
    </table>
    <%else%>
        <h1 style="margin-top: 200px">You have no subscriptions</h1>
        
        <h5>Click <%=link_to 'here', user_session_path%> to go back</h5>
      <%end%>
    <br>
  </center>
</div>