<div class="container">
<div class="row">
<% @plans.each do |plan| %>

<div class="card text-center col-sm-4" style="margin-right: 30px; margin-bottom: 30px">
<div class="card-body">
    <h5 class="card-title">Plan Name: <%=plan.name%></h5>
    <p class="card-text">Plan Fee: <%=plan.fee%></p>
    <%if plan.features.any?%>
    	<%= link_to 'Show features', plan_features_path(plan) %></br>
    <%else%>
        <br/><p>OOPS.. No features so far</p>
    <%end%>
    <% if policy(@user).admin? %>
    	<%= link_to 'Add features', new_plan_feature_path(plan) %></br>
        <%= link_to 'Change plan details', edit_plan_path(plan) %></br>
        <%= link_to 'Delete Plan', plan, method: :delete, data: { confirm: 'Are you sure to delete this plan?' } %>
    <%elsif policy(@user).buyer? %>
      <% if @subscriptions.find_by(plan_id:plan.id) %>
        <a href="#" class="btn btn-primary disabled" role="button" aria-pressed="true">Subscribed</a>
      <%elsif plan.features.any? %>
          <%=link_to 'Subscribe',
            new_plan_subscription_path(plan),
            class: 'btn btn-primary btn-lg',
            role: "button"
          %> 
      <%else%>
        <a href="#" class="btn btn-primary disabled" role="button" aria-pressed="true">Wait for features to subscribe</a>         
      <%end%>
    <%end%>
  </div>
</div>
  <% end %>
</div>
</div>
<div id="new-sub" style="display: none;"></div>