<center>
  <h1>Plans</h1>
  <% if current_user.admin? %>
    <%= link_to 'Add New Plan', new_plan_path %>
  <%end%>
</center>
<div class="container">
  <div class="row">
  <% @plans.each do |plan| %>
  <div class="card text-center col-sm-4" style="margin-right: 30px; margin-bottom: 30px">
  <div class="card-body">
      <h5 class="card-title">Plan Name: <%=plan.name%></h5>
      <p class="card-text">Plan Fee: <%=plan.fee%></p>
      <td><%= link_to 'Show Details', plan %></td></br>
      <%if plan.features.any?%>
          <%= link_to 'Show features', plan_features_path(plan) %></br>
      <%else%>
          <h5>OOPS.. No features so far</h5>
      <%end%>
      <% if current_user.admin?%>
          <%= link_to 'Add features', new_plan_feature_path(plan) %></br>
          <%= link_to 'Change plan details', edit_plan_path(plan) %></td></br>
          <%= link_to 'Delete Plan', plan, method: :get, data: { confirm: 'Are you sure to delete this plan?' } %>
      <%end%>
    </div>
  </div>
    <% end %>
</div>
</div>
