<!-- <p id="notice"><%= notice %></p>
<% if flash[:alert] %>
    <div class="notice"><%= flash[:alert] %></div>
  <% end %> -->
<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @plan.fee %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
