<center>
   <h1>Listing All Features of <%=@plan.name%> plan</h1> 
</center>

<% @plan.features.each do |feature| %>
  <p>
    <strong>Feature Name:</strong>
    <%= feature.name %><br>
    <strong>Feature Code:</strong>
    <%= feature.code %><br>
    <strong>Feature Unit Price:</strong>
    <%= feature.unit_price %><br>
    <strong>Feature Max Unit Limit:</strong>
    <%= feature.max_unit_limit %><br>
    <%if policy(@user).admin? %>
    <%= link_to 'Change feature details', edit_feature_path(feature) %></br>
        <%= link_to 'Delete Feature', feature, method: :delete, data: { confirm: 'Are you sure to delete this feature?' } %>
    <%end%>
  </p>
<% end %>