<nav class="navbar navbar-expand-lg  navbar-dark bg-dark  >
  <a class="navbar-brand" href="#" style="color: grey">Test Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">    
    <%if user_signed_in?  %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li> 
      <%if current_user.user?  %>   
      <li class="nav-item">
        <%=link_to 'View subscriptions', user_subscriptions_path(current_user), :class=> 'nav-link' %>
      </li>
      <%end%>
      <%if current_user.admin?  %>
      <li class="nav-item">
        <%=link_to 'View Usages', all_subs_path, :class=> 'nav-link' %>
      </li> 
      <%end%>  
    </ul>
    <%end%>
    <div class=" my-2 my-lg-0">
       <%if user_signed_in? %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome <%=current_user.name%></a>
        </li>
        <li class="nav-item">
          <img src=<%= current_user.avatar.to_s%> width="40" height="40" class="rounded-circle"></img>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href= <%= edit_user_registration_path%> >Edit profile</a>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %>            
          </div>
        </li>
      </ul>
      <%end%>
    </div>
  </div>
</nav>  